<h1>Listing stickers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Display name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stickers.each do |sticker| %>
  <tr>
    <td><%= sticker.name %></td>
    <td><%= sticker.display_name %></td>
    <td><%= link_to 'Show', sticker %></td>
    <td><%= link_to 'Edit', edit_sticker_path(sticker) %></td>
    <td><%= link_to 'Destroy', sticker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sticker', new_sticker_path %>
