<h1>Listing travel_times</h1>

<table>
  <tr>
    <th>Route</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @travel_times.each do |travel_time| %>
  <tr>
    <td><%= travel_time.route_id %></td>
    <td><%= travel_time.date %></td>
    <td><%= link_to 'Show', travel_time %></td>
    <td><%= link_to 'Edit', edit_travel_time_path(travel_time) %></td>
    <td><%= link_to 'Destroy', travel_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Travel time', new_travel_time_path %>
