<p id="notice"><%= notice %></p>

<p>
  <b>Authid:</b>
  <%= @auth.authid %>
</p>

<p>
  <b>Name:</b>
  <%= @auth.name %>
</p>

<p>
  <b>Provider:</b>
  <%= @auth.provider %>
</p>


<%= link_to 'Edit', edit_auth_path(@auth) %> |
<%= link_to 'Back', auths_path %>
